<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to K-Pop Concert Updates: SMTOWN and YG Entertainment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to K-Pop Concert Updates: SMTOWN and YG Entertainment</h1>
        <div class="mt-5">
            <h2>Select Role</h2>
            <a href="{{ url_for('publisher') }}" class="btn btn-primary mt-3">Publisher</a>
            <a href="{{ url_for('subscriber') }}" class="btn btn-secondary mt-3">Subscriber</a>
        </div>
    </div>
</body>
</html>
